<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}">
    <title>Ho him tang's app</title>
</head>
<body>
    <h1> welcome to my app </h1>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, odio, voluptatibus quas consequuntur asperiores, repudiandae quod earum distinctio ducimus praesentium eveniet eligendi quidem? Error ut reiciendis illo consequatur, dignissimos beatae.
            
        </p>
</body> 
</html>